/Home_Work/08.01.2019/primeFaces/nbproject/private/
/Home_Work/08.01.2019/primeFaces/build/
/Home_Work/08.01.2019/primeFaces/dist/
/Home_Work/18.01.2019/chapter-2/dist/
/Home_Work/18.01.2019/chapter-2/build/
/Home_Work/20.01.2019/chapter-4/nbproject/private/
/Home_Work/20.01.2019/chapter-4/build/
/Home_Work/20.01.2019/chapter-4/dist/
/Home_Work/20.01.2019/chapter-6/nbproject/private/
/Home_Work/20.01.2019/chapter-6/build/
/Home_Work/20.01.2019/chapter-6/dist/